
<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Address</h5>
                <p>123 Main St.<br>City, Country<br>Zip Code</p>
                <p><a href="https://www.google.com/maps" target="_blank">View on Google Maps</a></p>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>Phone: (123) 456-7890</p>
                <p>Email: <a href="mailto:example@example.com">College Email</a></p>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="https://www.instagram.com" target="_blank">
                    <i class="fab fa-instagram"></i> Instagram
                </a><br>
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook"></i> Facebook
                </a><br>
                <a href="https://www.twitter.com" target="_blank">
                    <i class="fab fa-twitter"></i> Twitter
                </a><br>
                <a href="https://www.linkedin.com" target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
            </div>
        </div>
    </div>
</footer>
